<md-grid-list cols="2" rowHeight="550px">
  <md-grid-tile>
    <md-card class="dashboard-card">
      <a routerLink='/task'>
        <img md-card-image src="./assets/img/checklist.png" alt="">
      </a>
      <md-card-content>
        <md-card-title>
          Список задач
        </md-card-title>
        <p>Список задач, которые вы бы хотели сохранить и не забыть из реализовать в будующем.</p>
      </md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="dashboard-card">
      <a>
        <img md-card-image src="./assets/img/statistics.jpg" alt="">
      </a>
      <md-card-content>
        <md-card-title>
          Список задач
        </md-card-title>
        <p>Список задач, которые вы бы хотели сохранить и не забыть из реализовать в будующем.</p>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>

