@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';


html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height: 100%;
    display: flex;
}
.loading {
    height: 100px;
    width: 130px;
}
.mat-toolbar-row {
    justify-content: space-between;
}
.mat-chip.mat-primary {
    background-color: #3f51b5!important;
    color: #fff!important;
}
.mat-chip.mat-accent {
    background-color: #ff4081!important;
    color: #fff!important;
}
.mat-chip.mat-warn {
    background-color: #f44336!important;
    color: #fff!important;
}